{% extends 'bsblog/base.html' %}
{% block primary %}
{% for post in post_list %}
<div class="post_container">
  <div class="post_title">
    <h2 style="margin:0px">{{ post.title }}</h2>
    by {{ post.user_profile.user.username}} on {{ post.created_date|date:"N j, Y, P T" }}
  </div>
  <div class="post_wrapper">
    {{ post.text_html|truncatewords_html:"100"|safe }}
    <div style="padding:2px">
      <span><a href="{{ post.get_absolute_url }}">&rarr; read more</a></span>
    </div>
  </div>
</div>
{% endfor %}
<ul class="pager">
{% if post_list.has_previous %}
  <li class="previous">
    <a href="{% url bsblog_main post_list.previous_page_number %}">&larr; Newer</a>
  </li>
{% endif %}
{% if post_list.has_next %}
  <li class="next">
    <a href="{% url bsblog_main post_list.next_page_number %}">Older &rarr;</a>
  </li>
{% endif %}
</ul>
{% endblock%}
