{% extends 'bsblog/base.html' %}
{% load taxonomy_tags %}
{% block primary %}
  <div>
  {% for taxonomy_item in taxonomy_group.taxonomyitem_set.all %}
  {% taxonomy_members taxonomy_group taxonomy_item.name as members %}
  {% if members|length > 0 %}
  <div class="quarter_wide_container">
    <div class="project_header">
      {{ taxonomy_item }}
    </div>
    <div class="project_body">
      <ul style="margin-top: 0px; margin-bottom: 0px">
        {% for member in members %}
        <li><a href="{{ member.get_absolute_url }}">{{ member }}</a><br /></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
  {% endfor %}
  <div class="spacer"></div>
</div>
{% endblock %}
